<a href="https://colab.research.google.com/github/gskgautam/Coursera-Python-Specialization-University-of-Michigan/blob/main/Coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=-2.0
if x < 2 :
    print('Below 2')
elif x >= 2 :
     print('Two or more')
else :
    print('Something else')

Below 2

Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
>= 0.9 A
>= 0.8 B
>= 0.7 C
>= 0.6 D
< 0.6 F
If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85.

In [ ]:
try:
  score = float(input("Enter Score: "))
except:
  print("Score is out of Range. Please enter between 0.0 and 1.0")

if score >= 0.9:
 print("A")
elif score >= 0.8:
 print("B")
elif score >= 0.7:
 print("C")
elif score >= 0.6:
 print("D")
elif score < 0.6:
 print("F")

Enter Score: 0.85
B

In [ ]:
def stuff():
    print('Hello')
    return
    print('World')

stuff()

Hello

In [ ]:
def addtwo(a, b):
    added = a + b
    return a

x = addtwo(2, 7)
print(x)

2

In [ ]:
def computepay(h, r):
  if hrs >=40:
    return h * r
  elif hrs <=40:
    return h * r
  else:
    print("Wrong Input")

hrs = float(input("Enter Hours:"))
rate = float(input("Enter Rate:"))
print("Pay", computepay(hrs, rate))

Enter Hours:47.50
Enter Rate:10.50
Pay 498.75

In [ ]:
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

5

In [ ]:
largest = None
smallest = None
while True:
    num = input("Enter a number: ")
    if num == "done":
      break
    try:
      nums = int(num)
    except:
      print("Invalid input")
      continue
    
    if largest is None or nums > largest:
      largest = nums 
    if smallest is None or nums < smallest:
      smallest = nums

print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 10
Enter a number: 4
Enter a number: done
Maximum is 10
Minimum is 2

In [ ]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)

Hellothere

In [ ]:
print(len('banana')*7)

42

In [ ]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
pos = data.find('.')
print(data[pos:pos+3])

.ma

In [ ]:
text = "X-DSPAM-Confidence:    0.8475"
pos = text.find('0')
print(float(text[pos:]))

0.8475

In [ ]:
# Use words.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
for line in fname:
    line = line.rstrip()
f =  fh.read()
print(f.upper())

In [ ]:
# Use the file name mbox-short.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
count = 0
total = 0
for line in fh:
    if not line.startswith("X-DSPAM-Confidence:"):
        continue
    count =  count + 1
    line = float(line[19:].strip())
    total = total + line
    #total = count
if count > 0:
    average = total / count
else:
    average = 0.0

print("Average spam confidence:", average)

In [ ]:
x = list(range(5))
print(x)

[0, 1, 2, 3, 4]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(len(c))

6

In [ ]:
fname = input("Enter file name: ")
fh = open(fname)
lst = []
for line in fh:
    words= line.split()
    for word in words:
        if word not in lst:
            lst.append(word)
lst.sort()
print(lst)

In [ ]:
fname = input("Enter file name: ")
fh = open(fname)
count = 0
for line in fh:
    if line.startswith('From '):
        words = line.split()
        email = words[1]
        print(email)
        count = count+1
print("There were", count, "lines in the file with From as the first word")

In [ ]:
stuff = dict()
print(stuff['candy'])

KeyError: ignored

In [ ]:
stuff = dict()
print(stuff.get('candy',-1))

-1

In [ ]:
name = input("Enter file:")
handle = open(name)
counts = dict()
for line in handle:
    if line.startswith('From'):
        words = line.split()
        email = words[1]
        counts[email] = counts.get(email, 0) + 1

big = None
bigc = None
for email, count in counts.items():
    if bigc is None or count > bigc:
        big = email
        bigc = count
        
print(big, bigc)

In [ ]:
x = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
y = x.items()
print(y)

dict_items([('chuck', 1), ('fred', 42), ('jan', 100)])

In [ ]:
name = input("Enter file:")
if len(name) < 1:
    name = "mbox-short.txt"
handle = open(name)
counts = dict()
for line in handle:
    if line.startswith('From '):
        words = line.split()
        time = words[5]
        hour = time.split(':')[0]
        counts[hour] = counts.get(hour, 0) + 1
lst = sorted(counts.items())
for hour, count in lst:
    print(hour, count)

In [ ]:
import re
name = input("Enter the name of the file")
handle = open(name)
numlist = []
for line in handle:
  line = line.rstrip()
  numbers = re.findall('[0-9]+', line)
  for num in numbers:
        numlist.append(int(num))

print(sum(numlist))

Enter the name of the fileregex_sum_1776591.txt
322582

In [ ]:
import socket

mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/intro-short.txt HTTP/1.0\r\n\r\n'.encode()
mysock.send(cmd)

while True:
    data = mysock.recv(512)
    if len(data) < 1:
        break
    print(data.decode(),end='')

mysock.close()

HTTP/1.1 200 OK
Date: Tue, 09 May 2023 17:09:58 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "1d3-54f6609240717"
Accept-Ranges: bytes
Content-Length: 467
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

Why should you learn to write programs?

Writing programs (or programming) is a very creative
and rewarding activity.  You can write programs for
many reasons, ranging from making your living to solving
a difficult data analysis problem to having fun to helping
someone else solve a problem.  This book assumes that
everyone needs to know how to program, and that once
you know how to program you will figure out what you want
to do with your newfound skills.

In [ ]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [ ]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

url = input('Enter - ')
html = urlopen(url, context=ctx).read()
soup = BeautifulSoup(html, "html.parser")

# Retrieve all of the span tags
tags = soup('span')

total = 0

for tag in tags:
    total += int(tag.contents[0])

print(total)

Enter -  http://py4e-data.dr-chuck.net/comments_1776593.html
2371

In [ ]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

url = input('Enter - ')
count = int(input('Enter count: '))
position = int(input('Enter position: '))

# Repeat the process count times
for i in range(count):
    html = urllib.request.urlopen(url, context=ctx).read()
    soup = BeautifulSoup(html, 'html.parser')
    tags = soup('a')
    # Retrieve the link at the specified position
    url = tags[position-1].get('href', None)
    print('Retrieving:', url)

# Print the content of the last link
print(tags[position-1].contents[0])

Enter - http://py4e-data.dr-chuck.net/known_by_Christoph.html
Enter count: 7
Enter position: 18
Retrieving: http://py4e-data.dr-chuck.net/known_by_Laya.html
Retrieving: http://py4e-data.dr-chuck.net/known_by_Haiden.html
Retrieving: http://py4e-data.dr-chuck.net/known_by_Ayrton.html
Retrieving: http://py4e-data.dr-chuck.net/known_by_Leilan.html
Retrieving: http://py4e-data.dr-chuck.net/known_by_Thorben.html
Retrieving: http://py4e-data.dr-chuck.net/known_by_Jahy.html
Retrieving: http://py4e-data.dr-chuck.net/known_by_Micaila.html
Micaila

In [ ]:
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET

url = input('Enter URL: ')
uh = urllib.request.urlopen(url)
data = uh.read()

tree = ET.fromstring(data)
counts = tree.findall('.//count')
sum = 0

for count in counts:
    sum += int(count.text)

print(sum)

Enter URL:  http://py4e-data.dr-chuck.net/comments_1776595.xml
2346

In [ ]:
import urllib.request, urllib.parse, urllib.error
import json

url = input('Enter URL: ')
uh = urllib.request.urlopen(url)
data = uh.read()
info = json.loads(data)
sum = 0
#counts = len(info)
for item in info['comments']:
    sum += item['count']

print(sum)

Enter URL:  http://py4e-data.dr-chuck.net/comments_1776596.json
2353

In [ ]:
import urllib.request, urllib.parse, urllib.error
import json
import ssl

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'
# https://developers.google.com/maps/documentation/geocoding/intro

if api_key is False:
    api_key = 42
    serviceurl = 'http://py4e-data.dr-chuck.net/json?'
else :
    serviceurl = 'https://maps.googleapis.com/maps/api/geocode/json?'

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

while True:
    address = input('Enter location: ')
    if len(address) < 1: break

    parms = dict()
    parms['address'] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters')

    try:
        js = json.loads(data)
    except:
        js = None

    if not js or 'status' not in js or js['status'] != 'OK':
        print('==== Failure To Retrieve ====')
        print(data)
        continue

    #print(json.dumps(js, indent=4))

    place_id = js['results'][0]['place_id']
    print('Place ID:', place_id)

Enter location: South Federal University
Retrieving http://py4e-data.dr-chuck.net/json?address=South+Federal+University&key=42
Retrieved 2443 characters
Place ID: ChIJNeHD4p-540AR2Q0_ZjwmKJ8
Enter location: University of Texas
Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas&key=42
Retrieved 1798 characters
Place ID: ChIJt8-EJZu1RIYR3iFKF0_uMYE

KeyboardInterrupt: ignored

In [ ]:
import sqlite3

conn = sqlite3.connect('orgdb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'mbox-short.txt'
fh = open(fname)

for line in fh:
    if not line.startswith('From: '):
        continue
    pieces = line.split()
    email = pieces[1]
    domain = email.split('@')[1]  # Extract the domain from the email address
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (domain,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                    VALUES (?, 1)''', (domain,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?', (domain,))
conn.commit()

sqlstr = 'SELECT org, count FROM Counts WHERE count = 536'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: mbox.txt
iupui.edu 536

In [ ]:
import sqlite3
import xml.etree.ElementTree as ET


#Function that we'll use to find the content of a specific field.
def find_field(track, wanted_field):
    """This function gets two parameters: track, a dictionary containing all
    the XML tags of a certain song, and wanted_field, a string representing the
    title of the tag we want to obtain. 

    It works by finding a key tag with the text {wanted_field}, and
    returning the content of the following tag. If wanted_field doesn't 
    match any tag, it returns a False"""

    #Variable we'll use to indicate when we've found wanted_field
    found = False
    
    for tag in track:
        if not found:
            #Looking for the wanted field
            if(tag.tag == "key" and tag.text == wanted_field):
                found = True
        else:
            #After founding it, we return the content of the following
            #tag (the one with its value)
            return tag.text

    return False



#PART 1: PREPARING THE DATABASE
#Connecting to the file in which we want to store our db
conn = sqlite3.connect('tracks.sqlite')
cur = conn.cursor()

#Getting sure it is empty
#We can use "executescript" to execute several statements at the same time
cur.executescript("""
    DROP TABLE IF EXISTS Artist;
   
    DROP TABLE IF EXISTS Album; 

    DROP TABLE IF EXISTS Genre;

    DROP TABLE IF EXISTS Track
    """)

#Creating it
cur.executescript(''' CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


#PART 2: INSERTING THE DATA
#Getting the data and parsing it
data_source = open("/content/Library.xml")
data = data_source.read()
xml_data = ET.fromstring(data)

#Obtaining every tag with track data
tracks_data = xml_data.findall("dict/dict/dict")

#Getting the values of the fields we'll insert
for track in tracks_data:
    title = find_field(track, "Name")
    artist = find_field(track, "Artist")
    genre = find_field(track, "Genre")
    album = find_field(track, "Album")
    length = find_field(track, "Total Time")
    count = find_field(track, "Play Count")
    rating = find_field(track, "Rating")

    #Artist
    if (artist): #If it's a filled string, != False
        #If the value hasn't been introduced yet and exists, we'll insert it
        artist_statement = """INSERT INTO Artist(name) SELECT ? WHERE NOT EXISTS 
            (SELECT * FROM Artist WHERE name = ?)"""
        SQLparams = (artist, artist) #Params needed for completing the statement
        cur.execute(artist_statement, SQLparams)

    #Genre
    if (genre): #If it's a filled string, != False
        #If the value hasn't been introduced yet and exists, we'll insert it
        genre_statement = """INSERT INTO Genre(name) SELECT ? WHERE NOT EXISTS 
            (SELECT * FROM Genre WHERE name = ?)"""
        SQLparams = (genre, genre)
        cur.execute(genre_statement, SQLparams)

    #Album
    if (album): #If it's a filled string, != False
        #First of all, we'll get the artist id
        artistID_statement = "SELECT id from Artist WHERE name = ?"
        cur.execute(artistID_statement, (artist, ))
        #.fetchone() returns a one-element tuple, and we want its content
        artist_id = cur.fetchone()[0] 


        #Now we're going to insert the data
        album_statement = """INSERT INTO Album(title, artist_id) 
            SELECT ?, ? WHERE NOT EXISTS (SELECT * FROM Album WHERE title = ?)"""
        SQLparams = (album, artist_id, album)
        cur.execute(album_statement, SQLparams)

    #Track
    if (title): #If it's a filled string, != False
        #Obtaining genre_id
        genreID_statement = "SELECT id from Genre WHERE name = ?"
        cur.execute(genreID_statement, (genre, ))
        try:
            genre_id = cur.fetchone()[0]
        except TypeError:
            genre_id = 0
        #Obtaining album_id 
        albumID_statement = "SELECT id from Album WHERE title = ?"
        cur.execute(albumID_statement, (album, ))
        try:
            album_id = cur.fetchone()[0]
        except TypeError:
            album_id = 0

        #Inserting data
        track_statement = """INSERT INTO Track(title, album_id, genre_id, len,
            rating, count) SELECT ?, ?, ?, ?, ?, ?
                WHERE NOT EXISTS (SELECT * FROM Track WHERE title = ?)"""
        SQLparams = (title, album_id, genre_id, length, rating, count, title)
        cur.execute(track_statement, SQLparams)

    
conn.commit()
cur.close()

In [9]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:
    name = entry[0]
    title = entry[1]
    role = entry[2]

    print((name, title, role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', (name,))
    cur.execute('SELECT id FROM User WHERE name = ? ', (name,))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', (title,))
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title,))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''',
                (user_id, course_id, role))

    conn.commit()

# Query 1
cur.execute('''
SELECT User.name, Course.title, Member.role FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY User.name DESC, Course.title DESC, Member.role DESC
    LIMIT 2
''')
rows = cur.fetchall()
for row in rows:
    print(row)

# Query 2
cur.execute('''
SELECT 'XYZZY' || hex(User.name || Course.title || Member.role) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X LIMIT 1
''')
row = cur.fetchone()
print(row)

cur.close()

Enter file name: roster_data.json
('Mashhood', 'si110', 1)
('Sol', 'si110', 0)
('Montgomery', 'si110', 0)
('Jaelee', 'si110', 0)
('Prabhasees', 'si110', 0)
('Yuanyu', 'si110', 0)
('Angaly', 'si110', 0)
('Steve', 'si110', 0)
('Derin', 'si110', 0)
('Shannan', 'si110', 0)
('Suzanne', 'si110', 0)
('Natascha', 'si110', 0)
('Rohin', 'si110', 0)
('Elwyn', 'si110', 0)
('Margaret', 'si110', 0)
('Leena', 'si110', 0)
('Wen', 'si110', 0)
('Agnieszka', 'si110', 0)
('Fruin', 'si110', 0)
('Saba', 'si110', 0)
('Corinne', 'si110', 0)
('Teejay', 'si110', 0)
('Nieve', 'si110', 0)
('Aled', 'si110', 0)
('Vanni', 'si110', 0)
('Orlando', 'si110', 0)
('Taliesin', 'si110', 0)
('Alexa', 'si110', 0)
('Tailee', 'si110', 0)
('Concetta', 'si110', 0)
('Shawnpaul', 'si110', 0)
('Mila', 'si110', 0)
('Jarl', 'si110', 0)
('Christie', 'si110', 0)
('Danny', 'si110', 0)
('Amalie', 'si110', 0)
('Sofian', 'si110', 0)
('Miya', 'si110', 0)
('Jadyn', 'si110', 0)
('Kirstin', 'si110', 0)
('Kinza', 'si106', 1)
('Annastacia', 'si106', 0)
('Darien', 'si106', 0)
('Calan', 'si106', 0)
('Breogan', 'si106', 0)
('Eidhan', 'si106', 0)
('Aliya', 'si106', 0)
('Kahlan', 'si106', 0)
('Catherine', 'si106', 0)
('Tymom', 'si106', 0)
('Davie', 'si106', 0)
('Cally', 'si106', 0)
('Jared', 'si106', 0)
('Eni', 'si106', 0)
('Mirryn', 'si106', 0)
('Aleeshmah', 'si106', 0)
('Jerome', 'si106', 0)
('Morran', 'si106', 0)
('Daniela', 'si106', 0)
('Mack', 'si106', 0)
('Nico', 'si106', 0)
('Amahle', 'si106', 0)
('Skye', 'si106', 0)
('Louie', 'si206', 1)
('Carolyn', 'si206', 0)
('Clodagh', 'si206', 0)
('Bianca', 'si206', 0)
('Nate', 'si206', 0)
('Morven', 'si206', 0)
('Matthias', 'si206', 0)
('Colum', 'si206', 0)
('Kieara', 'si206', 0)
('Valentin', 'si206', 0)
('Kayci', 'si206', 0)
('Suman', 'si206', 0)
('Taisha', 'si206', 0)
('Jamie', 'si206', 0)
('Celik', 'si206', 0)
('Chala', 'si206', 0)
('Annastacia', 'si206', 0)
('Davie', 'si206', 0)
('Kyren', 'si206', 0)
('Kinsey', 'si206', 0)
('Ali', 'si206', 0)
('Adrien', 'si206', 0)
('Makayla', 'si206', 0)
('Leonard', 'si206', 0)
('Khalan', 'si206', 0)
('Jamieleigh', 'si206', 0)
('Cadey', 'si206', 0)
('Joshiah', 'si206', 0)
('Anwen', 'si206', 0)
('Martin', 'si206', 0)
('Zander', 'si301', 1)
('Muireann', 'si301', 0)
('Cleone', 'si301', 0)
('Giselle', 'si301', 0)
('Eesa', 'si301', 0)
('Tyrone', 'si301', 0)
('Darcey', 'si301', 0)
('Jarvi', 'si301', 0)
('Shahd', 'si301', 0)
('Oriane', 'si301', 0)
('Teagan', 'si301', 0)
('Linzi', 'si301', 0)
('May', 'si301', 0)
('Griffin', 'si301', 0)
('Sandro', 'si301', 0)
('Isabella', 'si301', 0)
('Ailee', 'si301', 0)
('Ilona', 'si301', 0)
('Nerisse', 'si301', 0)
('Abdulkadir', 'si301', 0)
('Jonny', 'si301', 0)
('Lumi', 'si301', 0)
('Pamela', 'si301', 0)
('Caedan', 'si301', 0)
('Nureza', 'si301', 0)
('Ahdia', 'si301', 0)
('Shaye', 'si301', 0)
('Roxana', 'si301', 0)
('Beraka', 'si310', 1)
('Annaleigh', 'si310', 0)
('Korey', 'si310', 0)
('Leah', 'si310', 0)
('Khyralee', 'si310', 0)
('Daigan', 'si310', 0)
('Khajusta', 'si310', 0)
('Arwa', 'si310', 0)
('Marshall', 'si310', 0)
('Yanick', 'si310', 0)
('Stephen', 'si310', 0)
('Nour', 'si310', 0)
('Wasif', 'si310', 0)
('Joash', 'si310', 0)
('Nikash', 'si310', 0)
('Nora', 'si310', 0)
('Wabuya', 'si310', 0)
('Mairead', 'si310', 0)
('Iqra', 'si310', 0)
('Amalie', 'si310', 0)
('Roan', 'si310', 0)
('Luis', 'si310', 0)
('Dhara', 'si310', 0)
('Cassy', 'si310', 0)
('Maison', 'si310', 0)
('Bayley', 'si310', 0)
('Louanne', 'si310', 0)
('Ines', 'si310', 0)
('Sasha', 'si310', 0)
('Jardine', 'si310', 0)
('Atiya', 'si310', 0)
('Kylan', 'si334', 1)
('Jacki', 'si334', 0)
('Name', 'si334', 0)
('Davie', 'si334', 0)
('Samuel', 'si334', 0)
('Norea', 'si334', 0)
('Roger', 'si334', 0)
('Sanna', 'si334', 0)
('Emlyn', 'si334', 0)
('Joseph', 'si334', 0)
('Annabella', 'si334', 0)
('Finan', 'si334', 0)
('Siranne', 'si334', 0)
('Emir', 'si334', 0)
('Skyla', 'si334', 0)
('Finnan', 'si334', 0)
('Reena', 'si334', 0)
('Daniele', 'si334', 0)
('Megan', 'si334', 0)
('Xavier', 'si334', 0)
('Gianluca', 'si334', 0)
('Dawud', 'si363', 1)
('Muhammad', 'si363', 0)
('Kalvin', 'si363', 0)
('Eoghain', 'si363', 0)
('Airen', 'si363', 0)
('VJay', 'si363', 0)
('Ruslan', 'si363', 0)
('Caileen', 'si363', 0)
('Lilli', 'si363', 0)
('Hafiza', 'si363', 0)
('Charlee', 'si363', 0)
('Connall', 'si363', 0)
('Liyah', 'si363', 0)
('Jersey', 'si363', 0)
('Uchenna', 'si363', 0)
('Nidhish', 'si363', 0)
('Libbi', 'si363', 0)
('Olufunke', 'si363', 0)
('Sambrid', 'si363', 0)
('Elsbeth', 'si363', 0)
('Ayanna', 'si363', 0)
('Macauley', 'si363', 0)
('Mobeen', 'si363', 0)
('Braden', 'si363', 0)
('Ula', 'si363', 0)
('Raegan', 'si363', 0)
('Lukasz', 'si363', 0)
('Caethan', 'si363', 0)
('Kloe', 'si364', 1)
('Gil', 'si364', 0)
('Seighin', 'si364', 0)
('Bilal', 'si364', 0)
('Chandanpreet', 'si364', 0)
('Imani', 'si364', 0)
('Emon', 'si364', 0)
('Rhuan', 'si364', 0)
('Denton', 'si364', 0)
('Hailie', 'si364', 0)
('Lulu', 'si364', 0)
('Koral', 'si364', 0)
('Nawel', 'si364', 0)
('Kate', 'si364', 0)
('Joynul', 'si364', 0)
('Sorley', 'si364', 0)
('Anabelle', 'si364', 0)
('Tyrnan', 'si364', 0)
('Nana', 'si364', 0)
('Alliah', 'si364', 0)
('Farren', 'si364', 0)
('Neeve', 'si364', 0)
('Ashbey', 'si364', 0)
('Kaylee', 'si364', 0)
('Tayler', 'si364', 0)
('Rahel', 'si364', 0)
('Gianluca', 'si364', 0)
('Fiona', 'si364', 0)
('Freyja', 'si364', 0)
('Amani', 'si364', 0)
('Alec', 'si364', 0)
('Arjuna', 'si364', 0)
('Sol', 'si422', 1)
('Teresa', 'si422', 0)
('Axel', 'si422', 0)
('Shadow', 'si422', 0)
('Jayde', 'si422', 0)
('Sarabeth', 'si422', 0)
('Keren', 'si422', 0)
('Somaya', 'si422', 0)
('Deelan', 'si422', 0)
('Heidar', 'si422', 0)
('Reid', 'si422', 0)
('Lumi', 'si422', 0)
('Kaley', 'si422', 0)
('Tadhg', 'si422', 0)
('Dillan', 'si422', 0)
('Zubair', 'si422', 0)
('Stefany', 'si422', 0)
('Ferre', 'si422', 0)
('Minah', 'si430', 1)
('Nadisa', 'si430', 0)
('Lilliarna', 'si430', 0)
('Dania', 'si430', 0)
('Kadie', 'si430', 0)
('Jordyn', 'si430', 0)
('Kaci', 'si430', 0)
('Norrie', 'si430', 0)
('Kia', 'si430', 0)
('Marwah', 'si430', 0)
('Abdirahman', 'si430', 0)
('Layan', 'si430', 0)
('Xanthia', 'si430', 0)
('Eonan', 'si430', 0)
('Kenzie', 'si430', 0)
('Edward', 'si430', 0)
('Cator', 'si430', 0)
('Neeve', 'si430', 0)
('Shwetika', 'si430', 0)
('Adain', 'si430', 0)
('Rui', 'si430', 0)
('Ruslan', 'si430', 0)
('Thais', 'si430', 0)
('Taegan', 'si430', 0)
('Carson', 'si430', 0)
('Qainat', 'si430', 0)
('Dilya', 'si430', 0)
('Kaya', 'si430', 0)
('Simra', 'si430', 0)
('Tre', 'si430', 0)
('Charlee', 'si430', 0)
('Shani', 'si430', 0)
('Jeremy', 'si430', 0)
('Zubair', 'si422', 0)
('Zander', 'si301', 1)
('XYZZY416264697261686D616E736934333030',)